/* ******************************
		会社概要
******************************** */

body{
	width: 1200px;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "游ゴシック";
	background-image: url(images/background.png);
}

.title {
	text-align:center;
}

h1 {
background: #BDBDBD;
padding: 0.5em;
}

.outline_wrapper {
	height: 10%;
	width: 100%;
	margin: 0.5% 0;
	display: table;
}

hr {
  border-top: 1px solid #D8D8D8;
  width: 100%;
}

.index {
	width: 20%;
	background-color: #EFFBFB;
	display: table-cell;
	vertical-align: middle;
	padding-left: 1%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1%;
}

.partner {
	padding-bottom: 2%;
}

.address {
	float:left;
	width: 50%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 430px;
    width: 430px;
}

/*floatをクリアする*/
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}





/* ******************************
	会社概要タブレット用CSS
******************************** */
@media screen and (max-width: 768px){



.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.95em;
	max-width: 768px;
}


h1 {
	background: #BDBDBD;
	padding: 0.5em;
}

.address {
	float:left;
	width: 40%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 230px;
    width: 230px;
}


}



/* ******************************
	会社概要スマホ用CSS
******************************** */
@media screen and (max-width:640px){



.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.85em;
	max-width: 640px;
}

h1 {
	background: #BDBDBD;
	padding: 0.5em;
}

.address {
	float:left;
	width: 40%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 230px;
    width: 230px;
}


}

