/* ******************************
		経営理念
******************************** */
@media screen and (min-width: 769px){














}



/* ******************************
	経営理念タブレット用CSS
******************************** */
@media screen and (max-width: 768px){



	body{
		/*width: 1366px;*/
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.title {
		text-align: center;
	}

	h1 {
		background: #BDBDBD;
		padding: 0.5em;
		font-size: 35;
		text-align: center;
	}

	.slogan_headderText {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 0;
		position: relative;
		padding: 0.25em 0;
	}
	.slogan_headderText:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}




	/************** 社長あいさつより下 ****************/



	.greeting_wrapper {
		position: relative;
	}

	.wrap_greetingTitle {
		display: block;
		text-align: center;
	}

	h2{
		text-align: left;
		padding: .5em .75em;
		background-color: #f6f6f6;
		border-left: 6px solid #ccc;
	}
	.president {
		display:block;
		text-align: right;
		width: auto;
		height: auto;
		margin-bottom: 15%;
	}

	.presidentName {
		text-align: right;
		margin-top: 20px;
	}



	#wrapper_list{
		text-align: center;
	}
	
	p.list_headderWord {
		text-align: center;
		font-size: 100%;
		font-weight: 545;
		color: #300000;
		-webkit-text-stroke:0.6px #300000;
		margin: 2% 0 1% 0;
	}


	.philosophy_list{
		font-size: 120%;
		width: 74%;
	    padding: 8px 30px;
	    margin: 5% 4%;
	    color: #330000;
	    border-top: double 7px #000000;
	    border-bottom: double 7px #000000;
		font-weight: 800;
		padding-left: 50px;
	}

	.list_text_1 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}
	.list_text_2 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}
	.list_text_3 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}


}





/* ******************************
	経営理念スマホ用CSS
******************************** */
@media screen and (max-width:640px){




	h1 {
		background: #BDBDBD;    /*背景色*/
		padding: 0.5em;         /*文字まわり（上下左右）の余白*/
	}

	.slogan_headderText {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 0;
		position: relative;
		padding: 0.25em 0;
	}
	.slogan_headderText:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}
	
	.philosophy_list{
		font-size: 95%;
		width: 100%;
		padding: 0;
		margin: 0;
		color: #330000;
		border-top: double 7px #000000;
		border-bottom: double 7px #000000;
		font-weight: 800;
		/* padding-left: 50px; */
	}



}



