/* ******************************
		経営理念
******************************** */
@media screen and (min-width: 769px){

	body{
		width: 1366px;		/*全体の横幅*/
		padding-left: 10%;		/* 両端に空白 */
		padding-right: 10%;
		font-family: "游ゴシック";
	}

	h1 {
		background: #BDBDBD;    /*背景色*/
		padding: 0.5em;         /*文字まわり（上下左右）の余白*/
		font-size: 35;
		text-align: center;
	}

	#container {
		padding: 0 2em 0 2em;
		margin-top: 2%;
	}

	h2{
		text-align: left;
		padding: .5em .75em;
		background-color: #f6f6f6;
		border-left: 6px solid #ccc;
	}

	/* 経営理念下見出し */
	.text_1 {
		text-align: center;
		font-size: 25;
		font-weight: 600; 		/* フォントの濃さ */
		margin: 40px 170px;		/* 上下に空白 */
		position: relative;		
		padding: 0.25em 0;
	}
	.text_1:after {		/* 見出し下線 */
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}

	p#text_1_comment{
		text-align: center;		/*文章中央揃え*/
		line-height: 200%;	/* 行間 */
		margin: 40px 60px 40px 60px;
		font-size: 110%;
	}



	/************** 社長あいさつより下 ****************/

	.container1 {
		position: relative;
		padding: 0 2em 0 2em;
	}

	.top-words {
		margin-bottom: 10px;
	}

	#wrap_president {
		padding: 0 2em;
		height: 400px;
		width: 100%;
		margin: 0 20px;
		display: table;
	}

	.president_comment {
		width: 55%;
		height: 100%;
		margin: 20px;
		padding: 50px 0 30px 0;
		line-height: 215%;
		display: table-cell;
		vertical-align: top;
	}

	.president {
		display: table-cell;
		width: 100%;
		padding: 0 0 0 40px;
	}

	img {

	}

	.presidentName {
		width: auto;
		margin: 10px 180px 0 0;
		text-align:right;
	}

	.clear {
	    clear:both;
	}

	#wrapper_list{
		text-align: center;
		width: 100%;
		background-color: #F5F6E2;
		padding: 1em 0 0.3em 0;
		margin: 2% 0;
	}

	.list p {
		text-align: left;
	    margin: 10px 0 10px 10px; 
	    padding: 0;
	}

	p#p1 {
		text-align: center;
		font-size: 120%;
		font-weight: 545;
		color: #300000;
		-webkit-text-stroke:0.6px #300000;
		margin: 2% 0 1% 0;
	}

	.list{
		font-size: 140%;
		line-height:250%;
		width: 43%;
	    padding: 18px 20px 18px 25px;
	    margin: 1.5em 0 2em 16em;
	    color: #000000;
	    border-top: double 7px #300000;
	    border-bottom: double 7px #300000;
		font-weight: 800;
	}

	p#p2 {
		color: #330000;
		margin: 0;
	}
	
	p#p3 {
		padding: 0;
		line-height:200%;
	}


}





/* ******************************
	経営理念タブレット用CSS
******************************** */
@media screen and (max-width: 768px){



	body{
		/*width: 1366px;		全体の横幅*/
		padding-left: 10%;
		padding-right: 10%;
	}

	h1 {
		background: #BDBDBD;    /*背景色*/
		padding: 0.5em;         /*文字まわり（上下左右）の余白*/
		font-size: 35;
		text-align: center;
	}

	.text_1 {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 0;
		position: relative;
		padding: 0.25em 0;
	}
	.text_1:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}

	p {
		text-align: center;		/*文章中央揃え*/
		line-height:200%	
		padding-left:2em;
		font-size: 14;
	}


	/************** 社長あいさつより下 ****************/



	.container1 {
		position: relative;
	}

	.top-words {
		display: block;
		text-align: center;
	}

	h2{
		text-align: left;
		padding: .5em .75em;
		background-color: #f6f6f6;
		border-left: 6px solid #ccc;
	}
	.president {
		display:block;
		text-align: right;
		width: auto;
		height: auto;
		margin-bottom: 15%;
	}

	.presidentName {
		text-align: right;
		margin-top: 20px;
	}

	.president_comment {
		display: block;
		line-height: 300%
	}


	#wrapper_list{
		text-align: center;
	}


	.list{
		font-size: 140%;
		width: 75%;
	    padding: 8px 30px;
	    margin: 2em 0 2em 1.5em;
	    color: #000000;
	    border-top: double 7px #000000;
	    border-bottom: double 7px #000000;
		font-weight: 800;
	}
	.list p {
		text-align: left;
	    margin: 10px 0 10px 10px; 
	    padding: 0;
	}

	p#p1 {
		text-align: center;
		font-size: 120%;
		font-weight: boilder;
	}

	p#p2 {
		padding: 0;
		line-height:300%;
	}



}





/* ******************************
	経営理念スマホ用CSS
******************************** */
@media screen and (max-width:640px){




	h1 {
		background: #BDBDBD;    /*背景色*/
		padding: 0.5em;         /*文字まわり（上下左右）の余白*/
	}

	.text_1 {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 0;
		position: relative;
		padding: 0.25em 0;
	}
	.text_1:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}


	p#text_1_comment {
		text-align: center;		/*文章中央揃え*/
		line-height: 180%;	
		padding-left:2em;
		font-size: 80%;
	}



	/************** 社長あいさつより下 ****************/

	.president_comment {
		font-size: 80%;
	}

	.presidentName {
		font-size: 80%;
	}


}



