/* ******************************
		会社概要
******************************** */

body{
	width: 1366px;		/*全体の横幅*/
	padding-left: 10%;		/* 両端に空白 */
	padding-right: 10%;
	font-family: "游ゴシック";
	background-image: url(images/background_image.png);
}

/* 会社概要部分*/
h1 {
background: #BDBDBD;    /*背景色*/
padding: 0.5em;         /*文字まわり（上下左右）の余白*/
}

.outline_wrapper {
	height: 10%;
	width: 80%;
	margin: 0.5% 10%;
	display: table;
}

hr {
  border-top: 1px solid #D8D8D8;
  width: 80%;
}

.index {
	width: 20%;
	background-color: #CEF6F5;
	display: table-cell;
	vertical-align: middle;
	padding-left: 1%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1%;
}

.partner {
	padding-bottom: 2%;
}

.address {
	float:left;
	width: 50%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 430px;
    width: 430px;
}

/*floatをクリアする*/
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}





/* ******************************
	会社概要タブレット用CSS
******************************** */
@media screen and (max-width: 768px){



/* bodyの両サイドに余白を作る */
.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.95em;	/* タブレット用変更箇所 */
	max-width: 768px;
}

/* 会社概要部分*/
h1 {
	background: #BDBDBD;    /*背景色*/
	padding: 0.5em;         /*文字まわり（上下左右）の余白*/
}

.address {
	float:left;
	width: 40%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 230px;
    width: 230px;
}


}



/* ******************************
	会社概要スマホ用CSS
******************************** */
@media screen and (max-width:640px){



/* bodyの両サイドに余白を作る */
.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.85em;	/* スマホ用変更箇所 */
	max-width: 640px;
}

/* 会社概要部分*/
h1 {
background: #BDBDBD;    /*背景色*/
padding: 0.5em;         /*文字まわり（上下左右）の余白*/
}

.address {
	float:left;
	width: 40%;
}

/*各地図の位置*/
.google-box {
	float: right;
    /*width: 100%;*/
    height: 230px;
    width: 230px;
}


}

