/* ******************************
		会社概要
******************************** */

body{
	width: 1366px;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "游ゴシック";
}

/* 会社概要部分*/
h1 {
	background: #BDBDBD; 
	padding: 0.5em;  
	width: 100%;
}


.index{
	color: #002b62;
	font-size: 18px; 
	font-weight: bold; 
	float: left;
}

.contents {
	border-bottom: 2px solid #D7E8F0;
	margin-bottom: 15px; 
	margin-left: 0;
	padding: 0 0 12px 185px;
	
}

/* 認定パートナー部分*/
.partner {
	margin: 0 0 30px 0; /* 上下に空白を開ける */
}

/*会社住所*/
.companyinfo {
	display: inline-block;
	float: left;
	width: 30%;
}

/*本社と東京オフィスのgooglemap*/
.google-box {
	display: inline-block;
	width: 460px;
	height: 430px;
	margin-left: 5%;
}


/*floatをクリアする*/
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}





/* ******************************
	会社概要タブレット用CSS
******************************** */
@media screen and (max-width: 768px){



/* bodyの両サイドに余白を作る */
.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.95em;	/* タブレット用変更箇所 */
}

/* 会社概要部分*/
h1 {
	background: #BDBDBD;  
	padding: 0.5em;
	width: 100%;
}

.index{
	width: 100%;
	color: #002b62;
	font-weight: bold;
	padding: 0 20px 15px 20px;
}

.contents {
	 font-size: 90%;
	 border-bottom: 2px solid #D7E8F0;
	 margin:0;
	 padding: 0 20px 15px 20px; 
	 margin-bottom:20px;
	
}


/*認定パートナー*/
.partner {
	margin: 0 0 30px 0;
}

/*会社住所*/
.companyinfo {
	margin-right: 50%;
}

/*本社と東京オフィスのテキスト部分*/
.google-box {
	margin: 0;
	padding-top: 1%;
}

/*floatをクリアする*/
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

}





/* ******************************
	会社概要スマホ用CSS
******************************** */
@media screen and (max-width:640px){



/* bodyの両サイドに余白を作る */
.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.85em;	/* スマホ用変更箇所 */
}

/* 会社概要部分*/
h1 {
	background: #BDBDBD;
	padding: 0.5em;
	width: 100%;
}


/* 認定パートナー部分*/
.partner {
	margin: 0 0 30px 0;
}

/*会社住所*/
.companyinfo {
	margin-right: 50%;
}

/*本社と東京オフィスのテキスト部分*/
.google-box {
	margin: 0;
	padding-top: 1%;
}



/*floatをクリアする*/
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

}

