
*{
	font-size:0.98em;
	color:#111;
	margin:0;
	padding:0;
	font-family:游ゴシック,serif;
	line-height:2em;

}

body{
	background-image:url("./images/background.png");
	background-size:100%;
}

.contain{
	margin:20px;
}

.clear{
	clear:both;
}

/*===============================================
●画像
================================================*/
.image{
	width:200px;
	margin:60px auto ;
}





/*===============================================
●社員紹介
================================================*/

/********** 社風 **********/

.nakama{
	width:1000;
	margin:0 auto;
	text-align:left;
}

.n_img{
	text-align:center;
	margin-bottom:40px;
}

.n_img img{
	width:95%;
}

.text{
	margin:15px auto 40px;
}

.warau{
	margin:5px 0;
	font-weight:bold;
}

.msr_h102 {
  background: #1B73BA;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 30px;
  padding: 8px 10px;
  position: relative;
  width: 30%;
}

/* h1青の三角形 */
.msr_h102:before {
  border: 10px solid transparent;
  border-top: 10px solid #1B73BA;
  content: "";
  height: 0;
  left: 10px;
  position: absolute;
  top: 100%;
  width: 0;
}

h2 {
	width:20%;
	line-height:1.3em;
	font-size:1.5em;
	background: linear-gradient(transparent 60%, #a7d6ff 60%);
}

.ngp{
	font-size:1.8em;
	margin-left:150px;
}



/********** スタッフ **********/
.staff{
	width:1000;
	margin:50px auto;
	text-align:left;
}

.shain, .shain2{
	display:block;
	width:1000px;
	height:300px;
	margin:50px auto;
}

.shain2{
	width:700px;
}

.shainImg{
	display:inline-block;
	width:300px;
	height:300px;
	margin-right:30px;
	float:left;
	text-align:center;
	
}

.shainImg p{
	text-align:center;
	margin-bottom:20px;
}

/********** 紹介 **********/
.voice_window{
    display: block;
    position: relative;
    width:500px;
	height:auto;
	margin:50px auto;
}

/* 装飾 */
.ribbon17 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: white;
    background: #70c7ff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbon17:before {
    position: absolute;
    content: '';
    top: 0;
    left: -7px;
    border: none;
    height: 38px;
    width: 7px;
    background: #70c7ff;
    border-radius: 5px 0 0 5px;
}
.ribbon17:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #4d99ca;
    border-radius: 5px 0 0 5px;
}
.voice_window p{
	text-align:left;
}

.voice_window h2{
	font-size:1.1em;
	width:70%;
	text-align:left;
}


/********************************
 
	子画面モーダルwindow
 
********************************/



#modal-content, #modal-content02, #modal-content03, #modal-content04, #modal-content05, #modal-content06{
	width:600px;
	height:650px;
	margin:1.5em;
	padding:10px 20px;
	background:#fff;
	z-index:2;
	position:fixed;
	display:none;
	overflow-y: scroll;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	text-decoration: none;
}
 
.button-link:hover{
	cursor:pointer;
}


#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}



/*===============================================
●style.css PC 画面の横幅が769px以上
================================================*/

@media screen and (min-width: 769px){

	/*===============================================
	●index画面
	================================================*/
	
	/* 全体部分 */
	html{
	    scroll-behavior: smooth;
	}
	body {
	    width: 1200px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.clear { clear:both;}

	/* ヘッダー関連 */
	.header {width: 1200px; margin: 0; padding: 0; height: 80px;}
	img.rogo { height: 76px; margin-bottom: -4px; padding-left:15px;}
	.menu { width:1200px; height: 80px; float: left; background: #1f499d; font-weight: bold; padding:0; padding-bottom:10px; margin-bottom:0;}
	.menuList{ display: inline-block; width: 13%; height: 80px; position:relative; font-size: 18px; text-align: center; line-height: 1.1em;}
	.menuRogo{ display: inline-block;  height: 80px; position:relative; background-color:#1f499d;}
	.menuHome{ display: none; }
	.menuList a {color: white; position:absolute; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	#toggle { display: none; }
	.menuLinkUnder{ font-size: 11px;color:#fff; }

	/* メインイメージ関連 */
	.mainImageBox { width: 1200px; margin-top: 0px; margin-bottom: 20px;}
	.mainImages { width: 1200px;}

	/* コンテンツ関連 */
	.contents1{ width: 1200px; height: 400px;margin-bottom: 50px;}
	.contents2L{ width: 575px; float:left; margin-bottom: 50px;}
	.contents2R{ width: 575px; float:right; margin-bottom: 50px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	
	footer{width:1200px; background-color:none;}
	.LinkImageBox{width:80%; margin:auto; padding: 10px 0;}
	.chibit{height:200px; float:left;}
	img.ricNaviImage{height:120px; margin-left:20px; margin-top:50px;}
	img.LinkricNaviImageRespons{width: 120px; margin-left:50px;}
	.footerMenuBox { margin-top:10px; background-color: #1f499d;}
	.footerMenu {
	    width : 50%;
	    display:table;
	    table-layout:fixed;
	    text-align:center;
	    font-color:white;
	    height:40px;
	}
	ul.footerMenu { margin: auto; padding: 0; }
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: white; text-decoration: none; font-size: 1em;}
	.footerMenuLink:visited{color: white; text-decoration: none; font-size: 1em;}
	.footerMenuLink:hover {color: white; text-decoration: none; font-size: 1em;}
	.footerMenuLink:active {color: white; text-decoration: none; font-size: 1em;}

	.copyright{text-align:center; font-size: 13px; margin-top: 0; padding: 0 0; height:40px; line-height: 40px;}

	/* 募集要項関連 */
	.imageMarginBox{text-align: center;}
	.imageMarginBox img{width:95%}
	.walfareText{margin:30px 0 50px; font-size:1.05em; font-weight:bold;}
	.recruitTitle { font-size: 50px; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:75%; display: block; margin:auto; margin:50px auto; padding:auto;}
	.recruitList{color: #002b62; font-size: 18px; font-weight: bold; float: left;}
	.recruitListdd {border-bottom: 2px solid #D7E8F0; margin-bottom: 35px; margin-left: 0; padding: 0 0 12px 185px;}
	.recruitListdd_last {margin-bottom: 15px; margin-left: 0; padding: 0 0 12px 185px;}
	.recruitListdd img{margin-bottom:15px;}
	.recruit_img{margin-top:30px;}
	.buttonBox{}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #1f499d;/*左線*/
	    color: #1f499d;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin-left: 25px; margin-right:25px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}
	
	
	
	/*===============================================
	●会社概要
	================================================*/
	/********** PC用 **********/
	.outline_title {
		text-align:center;
	}

	.outline_wrapper {
		height: 10%;
		width: 100%;
		margin: 0.5% 0;
		display: table;
	}

	.m_6{
		margin-bottom:6px;
	}

	.outline_hr {
	  border-top: 1px solid #D8D8D8;
	  width: 100%;
	}

	.outline_index {
		width: 20%;
		background-color: #EFFBFB;
		display: table-cell;
		vertical-align: middle;
		padding-left: 1%;
	}

	.container {
		display: table-cell;
		vertical-align: middle;
		padding-left: 3%;
		background-color: #ffffff69;
		font-size: 1.1em;
		font-weight: 500;
	}

	.partner {
		padding-bottom: 2%;
	}

	.address {
		float:left;
		width: 50%;
	}

	/*各地図の位置*/
	.google-box {
		float: right;
	    height: 430px;
	    width: 430px;
	}
	
	
	
	/*===============================================
	●経営理念
	================================================*/
	/********** PC用 **********/
	.philosophy_title {
		text-align: center;
	}
	
	.phi_sub_img {
		width: 100%;
	}

	.slogan_container {
		padding: 0 2em 0 2em;
		margin-top: 2%;
	}

		/* 経営理念下見出し */
	.slogan_headderText {
		text-align: center;
		font-size: 25;
		font-weight: 600; 
		margin: 50px 80px 40px;
		position: relative;
		padding: 0.25em 0;
	}
	.slogan_headderText:after {		/* 見出し下線 */
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}

	.topImg{
		margin:10px 0 20px;
	}

	.slogan_mainText {
		text-align: center;	
		line-height: 200%;	
		margin: 40px 60px 50px 60px;
		font-size: 110%;
	}


	.greeting_wrapper {
		position: relative;
		padding: 0 2em 0 2em;
	}

	.wrap_greetingTitle {
		margin-bottom: 10px;
	}



	.wrap_upper_president {
		padding: 0 2em;
		height: 400px;
		width: 100%;
		margin: 0 20px;
		display: table;
	}

	.upper_presidentComment {
		width: 55%;
		height: 100%;
		margin: 20px;
		padding: 50px 60px 30px 0;
		line-height: 215%;
		display: table-cell;
		vertical-align: top;
	}

	.presidentImg {
		display: table-cell;
		width: 100%;
		padding: 0 0 0 15px;
	}


	.presidentName {
		width: auto;
		margin: 10px 215px 0 0;
		text-align:right;
	}



	.wrapper_list{
		text-align: center;
		width: 100%;
		background-color: #F5F6E2;
		padding: 1em 0 0.3em 0;
		margin: 2% 0;
		background-color: rgb(245,246,226,0.15);
	}

	p.list_headderWord {
		text-align: center;
		font-size: 120%;
		font-weight: 545;
		color: #300000;
		-webkit-text-stroke:0.6px #300000;
		margin: 2% 0 1% 0;
	}

	.philosophy_list{
		font-size: 140%;
		line-height:250%;
		width: 50%;
	    padding: 18px 20px 18px 25px;
	    margin: 1.5em 0 2em 12em;
	    color: #000000;
	    border-top: double 7px #300000;
	    border-bottom: double 7px #300000;
		font-weight: 800;
	}

	.list_text_1 {
		color: #330000;
		margin: 0;
	}
	.list_text_2 {
		color: #330000;
		margin: 0;
	}
	.list_text_3 {
		color: #330000;
		margin: 0;
	}

	.bottom_presidentComment {
		padding: 0 2em;
	    height: 100px;
	    width: 100%;
	    margin: 55px 0px 20px 20px;
	    line-height: 215%;
	    letter-spacing:1px;
	}
	
	
	/*===============================================
	●仕事内容
	================================================*/
	
	img.title02 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.working_text {
		text-align: center;
	}

	.working_text1 {
		margin-left:350px;
		text-align:center;
	}

	.working1{
		width:60%;
		font-size:1.2em;
	}

	img.image1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:95%;
	}

	img.image2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image4 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image5 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image6 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image7 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image8 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image9 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.image10 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


}

/*===============================================
●style.css タブレット 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){


	/*===============================================
	●index画面
	================================================*/
	
	/* 全体部分 */
	html{
	    scroll-behavior: smooth;
	}

	body {
	    width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    font-family: "游ゴシック";
	}

	.image{
		margin:50px auto ;
	}
	
	.titleImage{
		width:100%;
	}
	.clear { clear:both;}
	
	/* ヘッダー関連 */
	.header {width:100%; margin: 0; padding: 0;}
	.toggleRogo{width:20%;}
	.toggleMenu{width:100%; font-size: 4vw; text-align: center; padding:0; margin:0;}
	.menuHome{ font-size: 4vw; text-align: center; padding-bottom:5px; }
	.menuHome a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuHome:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuHome a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	.menu {display: none; background: #1f499d; margin: 0; padding: 0; width:100%; height:auto;}
	.menuList{ font-size: 3vw; text-align: center; padding-bottom:5px;}
	.menuRogo{ display: none; }
	.menuList a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	#toggle {
		display: block;
		position: relative;
		width: 100%;
		background: #1f499d;
	}
	#toggle a{
		display: block;
		position: relative;
		padding: 20px 0 20px;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}

	.menuLinkUnder{ font-size: 0px; }

	/* メインイメージ関連 */
	.mainImageBox { width: 100%; margin-top: 10px; margin-bottom: 0px;}
	.mainImages { width: 100%;}

	/* コンテンツ関連 */
	.contents1{ width: 100%; margin-bottom: 10px;}
	.contents2L{ width: 50%; float:left; margin-bottom: 10px;}
	.contents2R{ width: 50%; float:right; margin-bottom: 10px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	footer{width:100%;}
	.LinkImageBox{width: 75%; float:left; text-align:center; margin-top: 5px; margin-bottom: 5px;}
	.ricNaviImageBox{width: 45%; float:left; margin-bottom:10px;}
	img.ricNaviImage{width: 100%;}
	img.LinkricNaviImageRespons{width: 0%;}
	img.LinkFBImage{width: 45%; float:left; margin-left:20px;}
	
	.footerMenuBox { width: 100%;}
	.footerMenu {
	    width : 100%;
	    display:table;
	    table-layout:fixed;
	    text-align:center;
	    font-size: 1em;
	    color:white;
	}
	ul.footerMenu { margin: 0; padding: 0; font-size: 2vw;}
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: white; text-decoration: none;}
	.footerMenuLink:visited{color: white; text-decoration: none; }
	.footerMenuLink:hover {color: white; text-decoration: none; }
	.footerMenuLink:active {color: white; text-decoration: none;}

	.copyright{text-align:center; font-size: 2vw; padding-top: 15px; background-color: #1f499d;}

	/* 募集要項関連 */
	.recruitTitle { font-size: 6vw; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:85%; margin:auto; margin-bottom:50px; padding:auto;}
	.recruitList{color: #002b62; font-weight: bold; padding: 0 20px 15px 20px; }
	.recruitListdd { font-size: 90%; border-bottom: 2px solid #D7E8F0; margin:0; padding: 0 20px 15px 20px; margin-bottom:20px;}
	.buttonBox{ width: 250px; margin:auto;}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #1f499d;/*左線*/
	    color: #1f499d;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin: 10px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}
	
	
	
	
	
	
	
	/*===============================================
	●会社概要
	================================================*/
		/********** タブレット用 **********/
	.outline_title {
		text-align:center;
	}

	.outline_wrapper {
		height: 10%;
		width: 100%;
		margin: 0.5% 0;
		display: table;
	}

	.m_6{
		margin-bottom:6px;
	}

	.outline_hr {
	  border-top: 1px solid #D8D8D8;
	  width: 100%;
	}

	.outline_index {
		width: 20%;
		background-color: #EFFBFB;
		display: table-cell;
		vertical-align: middle;
		padding-left: 1%;
	}

	.container {
		display: table-cell;
		vertical-align: middle;
		padding-left: 2%;
		background-color: #ffffff69;
		font-size: 1.0em;
		font-weight: 500;
	}

	.partner {
		padding-bottom: 2%;
	}
	
	
	.overview{
		padding-left: 5%;
		padding-right: 5%;
		font-size: 0.95em;
		max-width: 768px;
	}

	.address {
		float:left;
		width: 40%;
	}

	/*各地図の位置*/
	.google-box {
		float: right;
	    /*width: 100%;*/
	    height: 230px;
	    width: 230px;
	}
	
	
	/*===============================================
	●経営理念
	================================================*/
	
	.philosophy_title {
		text-align: center;
	}

	.slogan_headderText {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 50px;
		position: relative;
		padding: 0.25em 0;
	}
	
	.slogan_mainText{
		text-align: center;
		margin-bottom: 50px;
	}
	
	.slogan_headderText:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}

	/************** 社長あいさつより下 ****************/
	
	.wrap_upper_president{
		margin: 20px 45px;
	}

	.greeting_wrapper {
		position: relative;
	}

	.wrap_greetingTitle {
		display: block;
		text-align: center;
	}

	.presidentName {
		text-align: right;
		margin-top: 20px;
	}
	
	.presidentImg{
		float: right;
	}
	
	.presidentImg img{
		float: right;
	}



	#wrapper_list{
		text-align: center;
	}
	
	p.list_headderWord {
		text-align: center;
		font-size: 100%;
		font-weight: 545;
		color: #300000;
		-webkit-text-stroke:0.6px #300000;
		margin: 2% 0 1% 0;
	}


	.philosophy_list{
		font-size: 120%;
		width: 75%;
	    padding: 8px 30px;
	    margin: 5% 4%;
	    color: #330000;
	    border-top: double 7px #000000;
	    border-bottom: double 7px #000000;
		font-weight: 800;
		padding-left: 50px;
	}

	.list_text_1 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}
	.list_text_2 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}
	.list_text_3 {
		color: #330000;
	    margin: 0 5%;
	    padding: 0 10%;
	    text-indent: -2em;
	}

	.bottom_presidentComment{
		margin: 20px 45px 50px 45px;
	}


}

/*===============================================
●style.css スマホ 画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){


	/*===============================================
	●index画面
	================================================*/
	
	/* 全体部分 */
	html{
	    scroll-behavior: smooth;
	}

	body {
	    width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    font-family: "游ゴシック";
	}
	.image{
		margin:50px auto ;
	}
	.titleImage{
		width:100%;
	}
	.clear { clear:both;}
	
	/* ヘッダー関連 */
	.header {width:100%; margin: 0; padding: 0;}
	.toggleRogo{width:20%; margin-right:5px;}
	.toggleMenu{ width:100%; font-size: 4vw; text-align: center;}
	.menuHome{ font-size: 4vw; text-align: center; padding-bottom:5px; }
	.menuHome a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuHome:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuHome a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menu {display: none; background: #1f499d; margin: 0; padding: 0; width:100%; height:auto;}
	.menuList{ font-size: 4vw; text-align: center; padding-bottom:5px;}
	.menuRogo{ display: none; }
	.menuList a {color: white; bottom:0; text-align: center; text-decoration: none;}
	.menuList:last-child a{ color: white; text-decoration: none; text-align: center; text-decoration: none;}
	.menuList a:hover{ color: white; text-decoration: none; text-align: center; text-decoration: none;}

	#toggle {
		display: block;
		width: 100%;
		background: #1f499d;
		padding: 0;
	}
	#toggle a{
		display: block;
		padding:0;
		margin-bottom:1px;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}

	.menuLinkUnder{ font-size: 0px; }

	/* メインイメージ関連 */
	.mainImageBox { width: 100%; margin-top: 10px; margin-bottom: 0px;}
	.mainImages { width: 100%;}

	/* コンテンツ関連 */
	.contents1{ width: 100%; margin-bottom: 10px;}
	.contents2L{ width: 50%; float:left; margin-bottom: 10px;}
	.contents2R{ width: 50%; float:right; margin-bottom: 10px;}

	/* フッター関連 */
	hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: black;
	   height: 1px;
	}
	.footer{width:100%;}
	.LinkImageBox{width: 75%; float:left; text-align:center; margin-top: 5px; margin-bottom: 5px;}
	.ricNaviImageBox{width: 45%; float:left; margin-bottom:10px;}
	img.ricNaviImage{width: 100%;}
	img.LinkricNaviImageRespons{width: 0%;}
	img.LinkFBImage{width: 45%; float:left; margin-left:20px;}
	
	.footerMenuBox { width: 100%;}
	.footerMenu {
	    width : 100%;
	    display:table;
	    table-layout:fixed;
	    text-align:center;
	    font-size: 1em;
	}
	ul.footerMenu { margin: 0; padding: 0; font-size: 2vw;}
	li.footerMenu { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }

	.footerMenuLink:link {color: black; text-decoration: none;}
	.footerMenuLink:visited{color: black; text-decoration: none; }
	.footerMenuLink:hover {color: black; text-decoration: none; }
	.footerMenuLink:active {color: black; text-decoration: none;}

	.copyright{text-align:center; font-size: 2vw; padding-top: 15px; background-color:#1f499d;}

	/* 募集要項関連 */
	.recruitTitle { font-size: 7vw; text-align: center; background: lightgray; padding-top: 25px; padding-bottom: 25px;}
	.recruitBox{width:85%; margin:auto; margin-bottom:50px; padding:auto;}
	.recruitList{color: #002b62; font-weight: bold; padding: 0 20px 15px 20px; }
	.recruitListdd { font-size: 90%; border-bottom: 2px solid #D7E8F0; margin:0; padding: 0 20px 15px 20px; margin-bottom:20px;}
	.buttonBox{ width: 250px; margin:auto;}
	.square_btn{
	    display: inline-block;
	    padding: 0.5em 1em;
	    text-decoration: none;
	    background: #f7f7f7;
	    border-left: solid 6px #1f499d;/*左線*/
	    color: #1f499d;/*文字色*/
	    font-weight: bold;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	    margin: 10px;
	}
	.square_btn:active {
	    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	    transform: translateY(2px);
	}
	
	
	/*===============================================
	●会社概要
	================================================*/
	
	.overview{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.85em;
	max-width: 640px;
	}

	.address {
		float:left;
		width: 40%;
	}

	/*各地図の位置*/
	.google-box {
		float: right;
	    /*width: 100%;*/
	    height: 230px;
	    width: 230px;
	}
	
	
	
	/*===============================================
	●経営理念
	================================================*/
	
	.slogan_headderText {
		text-align: center;
		font-size: 16;
		font-weight: 600; 
		margin: 50px 50px;
		position: relative;
		padding: 0.25em 0;
	}
	.slogan_headderText:after {
		content: "";
		display: block;
		height: 4px;
		background: -moz-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: -webkit-linear-gradient(to right, rgb(0, 60, 250), transparent);
		background: linear-gradient(to right, rgb(0, 60, 250), transparent); 
	}
	
	.philosophy_list{
		font-size: 95%;
		width: 100%;
		padding: 0;
		margin: 0;
		color: #330000;
		border-top: double 7px #000000;
		border-bottom: double 7px #000000;
		font-weight: 800;
		text-align: center;
	}
	
	p.list_headderWord {
	    text-align: center;
	    font-size: 100%;
	    font-weight: 545;
	    color: #300000;
	    -webkit-text-stroke: 0.6px #300000;
	    margin: 2% 3% 1% 0;
	}


}